h1, h4 {
    font-weight: 1500;
    font-size: 40px;
    text-align: center;
}

h1{
    padding-top: 50px;
}


head {
    padding: 20px;
}

html, body {
    padding: 20px;
    background-image: linear-gradient(to bottom right, #b3ffff, #b3ffd9);
    background-repeat: no-repeat;
    height: 100%;
}


#map {
    height: 275px;
    width: 450px;
    margin-left: 50px;
    border-radius: 8px;
}


#coordsForm, #cityForm {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 450px;
    background: rgb(255, 255, 255, 0.9);

}


#localWeatherResult, #weatherResultCoords, #weatherResultCity {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

#localWeatherTitle, #weatherTitleCoords, #weatherTitleCity{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.nav-pills {
    justify-content: center;
    border-radius: 10px;
    padding: 18px;
}

.nav-pills .nav-link {
    margin-right: 15px;
    color: #fff;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.nav-pills .nav-link.active {
    background-color: #001f3f !important; 
}
